<% layout("layouts/boilerplate") %>

<body>

    <div class="row">
        <div class="col-8 offset-2">

            <br>
            <h3>Edit Listing</h3>
            <br>

            <form action="/listing/<%= alllist._id %>?_method=PATCH" method="post" class="needs-validation" novalidate enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" id="title" name="listing[title]" class="form-control" value="<%= alllist.title %>" required>
                    <div class="invalid-feedback">Enter Title</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea id="description" name="listing[description]" class="form-control" required><%= alllist.description %></textarea>
                    <div class="invalid-feedback">Please provide Description</div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image URL:</label>
                    <input type="file" id="image" name="listing[image]" class="form-control">
                </div>
                
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="price" class="form-label">Price:</label>
                        <input type="number" id="price" name="listing[price]" class="form-control" value="<%= alllist.price %>" required>
                        <div class="invalid-feedback">Enter Correct Price</div>
                    </div>
                    
                    <div class="col-md-8 mb-3">
                        <label for="country" class="form-label">Country:</label>
                        <input type="text" id="country" name="listing[country]" class="form-control" value="<%= alllist.country %>" required>
                        <div class="invalid-feedback">Enter Your Country</div>
                    </div>
                </div>
               
                <div  class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" id="location" name="listing[location]" class="form-control" value="<%= alllist.location %>" required>
                    <div class="invalid-feedback">Enter Your Location</div>
                </div>
                
                <input type="submit" class="btn btn-dark add-btn">
             
            </form>
        </div>
    </div>
    <br>
</body>
